<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">Courses</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li class="{{#if isHomePage}} active {{/if}}">
        <a href="/">Главная</a>
      </li>

      <li class="{{#if isCoursesPage}} active {{/if}}">
        <a href="/courses">Курсы</a>
      </li>

      <li class="{{#if isAddPage}} active {{/if}}">
        <a href="/add">Добавить курс</a>
      </li>

      <li class="{{#if isCard}} active {{/if}}">
        <a href="/card">Корзина</a>
      </li>

      <li class="{{#if isOrder}} active {{/if}}">
        <a href="/orders">Заказы</a>
      </li>

    </ul>
  </div>
</nav>