body ul {
    list-style-type: none;
}
#root {
    margin:  100px auto;
    text-align: center;
}

.add-todo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    margin:  0 auto;
}
.add-todo input {
    margin-bottom: 10px;
}
.todo-list {
    width: 500px;
    margin: 0 auto;
}
.todo-list ul {
    text-align: left;
    padding: 0;
}
.todo-list li {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.todo-list li h3 {
    text-transform: capitalize;
    margin-right: 20px;
}

.visible {
    display: flex!important;
}
.hidden {
    display: none!important;
}
